:root {
    --col-width: 60px;
    --container-width: 960px;
    --row-height: 60px;
  }

.container{
    border: 1px black solid;
    margin: auto;
    width: var(--container-width);
}

.row{
    display: flex;
    height: var(--row-height);
}

.col{
    box-sizing: border-box;
    width: var(--col-width);
}

#paint{
    background-color: black;
}