:root {
    --col-width: 30px;
    --container-width: 480px;
    --row-height: 30px;
  }

@font-face {
    font-family:"Tangerine";
    src: url("./fonts/Tangerine-Bold.ttf") format("truetype");
}

*{
    font-family: 'Tangerine', Courier, monospace;
}

.top{
    font-size: 30px;
    margin: auto;
    margin-bottom: 20px;
    width: var(--container-width);
}

.container{
    border: 1px black solid;
    margin: auto;
    width: var(--container-width);
}

h1{
    font-size: 50px;
    text-align: center;
}

.row{
    display: flex;
    height: var(--row-height);
}

.col{
    box-sizing: border-box;
    width: var(--col-width);
}